* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* السكشن الاول */
.section1 {
    background-image: url(../images/photo_1jpg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  position: absolute;

}
.header {
    width: 100%;
    height: 50px;
    background-color: rgba(11, 11, 13, 0.85) ;
    top: 0;
    position: fixed;
    z-index: 1000;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.logo {
    color: #c9a86a;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 25px;
    float: left;
    font-weight: bold;
    letter-spacing: 1px;
}
.hero-Homeicon i {
    color: rgba(224, 220, 220, 0.9);
    font-size: 22px;
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}
.hero-input i {
    color: #794f00;
    font-size: 15px;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    float: left;

}
.hero-input input {
    background-color: rgba(224, 220, 220, 0.9);
    color: #444446;
    margin-top: 15px;
    margin-left: 10px;
    border: none;
    border-radius: 25px;
    height: 25px;
    width: 220px;
    position: absolute;
    float: left;
    padding-left: 40px;
}

.hero-input {
    float: left;
    position: relative;
}  
.header-list li {
    list-style: none;
    display:  inline-block;
    margin: 15px 15px;
    font-size: 15px;
}
.header-list1 {
    padding-left: 800px;
}
.header-list li a {
    text-decoration: none;
    color: #c9a86a;
    display: inline-block;
    position: relative;
}
.header-list li a::after {
    position: absolute;
    content: '';

    width: 0;
    height: 1px;
    background-color: #c9a86a;
    left: 0;
    bottom: -5px;
}
.header-list li a:hover::after {
    width: 100%;
    transition: 0.5s;
}
.ul-blog {
    position: absolute;
    text-align: center;
    list-style: none;
    margin-top: 20px;
    transition: 0.3s;
    visibility: hidden;
    height: 150PX;
    width: 170px;
    background-color: rgba(11, 11, 13, 0.9);
    border-radius: 10px;
    border: 1px solid #2c2c2c;
}
.a-blog:hover .ul-blog {
    visibility: visible;
   transition: 0.8s;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 20px;
    width: 90%;
}
.hero-title {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #e1dfdf;
}

.hero-p {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #989696;
}
.hero-btn {
    padding: 12px 30px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    margin: 5px;
    letter-spacing: 0.5px;
    transition: 0.3s ;
    font-family: Verdana, sans-serif;
}
.btn-prim {
    background-color: #c9a86a;
    color: #0d0d0f;
    font-weight: bold;
}
.btn-prim:hover {
    background-color: #e6c88c;
}
.btn-sec {
    background-color:hsla(0, 0%, 87%, 0);
    border: 2px solid #c9a86a;
    color: #c9a86a;
}
.btn-sec:hover {
    background-color: #c9a86a;
    color: #0d0d0f;
}
/*   السكشن الثاني.   */
.section2 {
    width: 100%;
    height: 100vh;
    background-color: #e0c6a4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: -1;
}
.vision-title {
    text-align: center;
    color: #3b2a14;
    font-size: 38px;
    padding-top: 80px;
    font-weight: bold;
    letter-spacing: 1px;
}
.vision-line{
    height: 3px;
    width: 150px;
    background-color:#3b2a14 ;
    bottom: -30px;
    margin: 30px auto;
}
.vision-content {
    width: 80%;
    margin: auto;
    margin-top: 130px;
}
.vision-card {
    width: 30%;
    height: 300px;
    background-color: #c59a61;
    margin: 60px 0;
    border: 1px solid rgba(104, 70, 3, 0.412);
    border-radius: 10px;
    padding: 20px;
    float: left ;
    text-align: center;
    position: relative;
    z-index: 0;
}
.vision-card2 {
    margin: 60px 5%;     
}
.vision-card i {
    font-size: 40px;
    color: #3b2a14;
    margin : 15px 0;
}
.vision-card h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #3b2a14;
}
.vision-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #4a3a22;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin : 30px 0;
    
}
.vision-card a {
    text-decoration: none;
    color: #3b2a14;
    font-weight: bold;

}
.vision-card:hover i {
    color:#c59a61;  


}
.vision-card:hover h3 {
    color: #f4e0c5;
    
}
.vision-card:hover p {
    color: #e0c6a4;
}
.vision-card:hover a {
    color: #c59a61;

}   
.vision-card::after {
    position: absolute;
    content: '';

    width: 0;
    height: 0;

    top: 0;
    left: 0;

    background-color: rgb(40, 26, 5);
    opacity: 0;
    transition: 0.4s;

    z-index: -1;
}
.vision-card:hover::after {
    width: 100%;
    height: 100%;
   border-radius: 10px;
   opacity: 1;
    
}
.section3{
    width: 100%;
    height: 100vh;
    background-color: rgb(40, 26, 5);
}
.portfolio-title{
    text-align: center;
    color: #e0c6a4;
    font-size: 38px;
    padding-top: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', serif;
}
.Portfolio-par{
    text-align: center;
    color: #e0c6a4;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', serif;
    margin-top: 30px;
}
.portfolio-content{
    width: 80%;
    margin: auto;

}